<h1>Orders</h1><br>

<%= link_to 'New Order', new_order_path %>
<br>
<br>

<div class="info">
  <h3 style="color: grey; display:inline"> Delivered: <%=  Order.where(status: "Delivered").count%> </h3>
  <h3 style="color: green; display:inline"> Normal: <%= Order.where(status: "Normal").count %></h3>
  <h3 style="color: yellow; display:inline"> Not Normal: <%= Order.where(status: "Not Normal").count %></h3>
  <h3 style="color: red; display:inline"> Very Late: <%= Order.where(status: "Very Late").count %></h3>
</div><br>

<div class="filter">
  <%= form_tag(orders_path, method: "get", id: "filter-form") do %>
    <%= text_field_tag :filter, params[:filter], placeholder: "Filter By Status" %>
    <%= submit_tag "Filter", name: nil %>
  <% end %>
</div><br>

<% if @orders.blank? %>
  <div id="error_explanation">
    <h4>There are no orders containing the status <%= params[:filter] %>.</h4>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th > Order Number</td>
      <th > Tracking Number</th>
      <th > Vendor </td>
      <th > Buyer </td>
      <th > Status </td>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_number %></td>
        <td><%= order.tracking_number %></td>
        <td><%= order.vendor.company %></td>
        <td><%= order.buyer.name %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
